  <div id="injured" class="row m-3  mt-2 ms-3">
    <div class="row">
      <div class="col-6">
        <h3 class="text-start m-4">Injured Players</h3>
      </div>
      <div class="col-6 navigation-links">
        <%= link_to "All players", team_players_path(team), style: "float: right;" %>
      </div>
    </div>

    <div class="injured-players d-flex justify-content-start mx-4">
      <% players.each do |player| %>
        <div class="col-3 d-flex">
          <div class="col-3">
            <p><%= cl_image_tag player.photo.key, width: 60 %></p>
          </div>
          <div class="col-9 flex-start">
            <div class="row">
            <%= link_to team_player_path(@team, player) do %>
              <h5><%= player.first_name %> <%= player.last_name %></h5>
            <% end %>
            </div>
            <div class="row">
              <h6><%= player.position %></h6>
            </div>
            <div class="row">
          <% if player.health == "Injured" %>
            <div class="health-status injured mx-2">
              <%= player.health %>
            </div>
          <% else %>
            <div class="health-status limited mx-2" >
              <%= player.health%>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
