    <div class="first-row-dashboard col-4 bg-white max-width-30 rounded-4">
      <div class="m-2">
        <div class="row pt-2">
          <h3 class="text-center p-2">Notifications</h3>
          <hr>
        </div>

      <div class="notifications pt-2">
        <% if @notifications.any? %>
          <% @notifications.each do |notification| %>
            <div class="row align-middle">
              <% if notification.column_name == "Player" %>
                <div class="col-2 pt-3">
                  <% if notification.note == "Health Update" %>
                      <i class="sidebar-button fa-solid fa-notes-medical pt-2" style="color: #D9D9D9;"></i>
                    <% elsif notification.note == "Return Update" %>
                      <i class="sidebar-button fa-regular fa-futbol pt-2" style="color: #D9D9D9;"></i>
                    <% elsif notification.note == "Nutrition Update" %>
                      <i class="sidebar-button  fa-solid fa-utensils pt-2" style="color: #D9D9D9;"></i>
                    <% elsif notification.note == "Player Update" %>
                      <i class="sidebar-button fa-solid fa-note-sticky pt-2" style="color: #D9D9D9;"></i>
                    <% else %>
                      <i class="sidebar-button fa-solid fa-comments pt-2" style="color: #D9D9D9;"></i>
                    <% end %>
                </div>
                <div class="col-5 pt-3">
                  <%= link_to team_player_path(notification.team, notification.player) do  %>
                    <h5><%= notification.player.first_name %></h5>
                  <% end %>
                    <h6><%= notification.note %></h6>
                </div>
                <div class="col-5 pt-3 d-flex flex-column align-items-end">
                    <% if notification.player.health == "Available" %>
                      <div class="health-status available">
                        <%= notification.player.health%>
                      </div>
                    <% elsif notification.player.health == "Limited" %>
                      <div class="health-status limited" >
                        <%= notification.player.health%>
                      </div>
                    <% else %>
                      <div class="health-status injured">
                        <%= notification.player.health%>
                      </div>
                    <% end %>
                      <p class="fst-italic m-2">
                      <%= time_ago_in_words(notification.created_at) %> ago
                      </p>
                </div>
              <% end %>

              <% if notification.column_name == "Message" && notification.user != current_user %>
                  <div class="col-2 pt-3">
                    <i class="sidebar-button fa-solid fa-comments pt-2" style="color: #D9D9D9;"></i>
                  </div>
                  <div class="col-5 pt-3">
                    <%= link_to team_chatroom_path(notification.team, notification.message.chatroom) do  %>
                      <h5><%= notification.user.first_name %></h5>
                    <% end %>
                    <h6><%= notification.note %></h6>
                  </div>
                  <div class="col-5 pt-3 d-flex flex-column align-items-end">
                    <%= link_to team_chatroom_path(notification.team, notification.message.chatroom) do  %>
                    <div class="chatroom-name">
                      <%= notification.message.chatroom.name%>
                    </div>
                    <% end %>
                      <p class="fst-italic m-2">
                        <%= time_ago_in_words(notification.created_at) %> ago
                      </p>
                  </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
        <div class="text-center">
          <h5 class="fst-italic fw-light text-danger"> No new notifications </h5>
        </div>
        <% end %>
      </div>
    </div>
  </div>
