DASHBOARD
<h1><%= @team.name%></h1>
<p><%= @team.stadium %></p>
<p><%= @team.address %></p>

<%= link_to "All players", team_players_path(@team) %>
<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
