DASHBOARD
<h1><%= @team.name%></h1>
<p><%= @team.stadium %></p>
<p><%= @team.address %></p>

<%= link_to "All players", team_players_path(@team) %>
<%= link_to "Add new player", new_team_player_path(@team) %>
