<div>
  <div class="row my-4 mx-1 justify-content-evenly">

    <div class="first-row-dashboard col-4 bg-white max-width-30 rounded-4">
      <div class="m-2">
        <div class="row pt-2">
          <h3 class="text-center p-2">Notifications</h3>
          <hr>
        </div>

        <div class="row pt-3">
          <div class="col-2">
            <p>photo</p>
          </div>
          <div class="col-5">
            <h5>Players Name</h5>
            <h6>Twisted Ankle</h6>
          </div>

          <div class="col-5 text-end">
            <h6>Injured</h6>
            <h6>Now</h6>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col-2">
            <p>photo</p>
          </div>
          <div class="col-5">
            <h5>Players Name</h5>
            <h6>Twisted Ankle</h6>
          </div>
          <div class="col-5 text-end">
            <h6>Injured</h6>
            <h6>20 minutes ago</h6>
          </div>
        </div>

        <div class="row pt-3 pb-3">
          <div class="col-2">
            <p>photo</p>
          </div>
          <div class="col-5">
            <h5>Players Name</h5>
            <h6>Twisted Ankle</h6>
          </div>
          <div class="col-5 text-end">
            <h6>Injured</h6>
            <h6>Yesterday</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="first-row-dashboard col-4 bg-white max-width-30 rounded-4">
      <div class="m-2">

        <div class="row pt-2">
          <h3 class="text-center p-2">Whats up today</h3>
          <hr>
        </div>

        <div class="row pt-3">
          <div class="col-8">
            <h5>Review Matches</h5>
            <h6>icon 00-00-00, 00:00 PM</h6>
          </div>
          <div class="col-4 text-end">
            <h6>meeting</h6>
            <h6>2 people</h6>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col-8">
            <h5>Review Matches</h5>
            <h6>icon 00-00-00, 00:00 PM</h6>
          </div>
          <div class="col-4 text-end">
            <h6>meeting</h6>
            <h6>2 people</h6>
          </div>
        </div>

        <div class="row pt-3 pb-3">
          <div class="col-8">
            <h5>Review Matches</h5>
            <h6>icon 00-00-00, 00:00 PM</h6>
          </div>
          <div class="col-4 text-end">
            <h6>meeting</h6>
            <h6>2 people</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="first-row-dashboard col-4 bg-white max-width-30 rounded-4">
      <div class="m-2">

        <div class="row pt-2">
          <h3 class="text-center p-2">Following games</h3>
          <hr>
        </div>

        <div class="row align-items-center pt-2">
          <div class="col-5">
            <div class="row ps-4">
              <div class="d-flex">
                <i class="fa-regular fa-calendar" style="color: #92bfca;"></i>
                <h6 class="ps-1">00-00-00</h6>
              </div>
              <div class="d-flex">
                <i class="fa-solid fa-location-dot" style="color: #92bfca;"></i>
                <h6 class="ps-1">Stadium</h6>
              </div>
              <h6>Referee Name</h6>
            </div>
          </div>

          <div class="col-2">
            <div class="bg-light rounded-4">
              <div class="row">
                <h6 class="text-center p-2">PSG</h6>
                <h6 class="text-center">VS</h6>
                <h6 class="text-center p-2">FCBM</h6>
              </div>
            </div>
          </div>

          <div class="col-5">
            <div class="row pe-4">
              <h6 class="text-center">Team Name</h6>
            </div>
             <div class="row pe-4">
              <h6 class="text-center">Team Name</h6>
            </div>
          </div>

        </div>

        <div class="row align-items-center pt-2">
          <div class="col-5">
            <div class="row ps-4">
              <div class="d-flex">
                <i class="fa-regular fa-calendar" style="color: #92bfca;"></i>
                <h6 class="ps-1">00-00-00</h6>
              </div>
              <div class="d-flex">
                <i class="fa-solid fa-location-dot" style="color: #92bfca;"></i>
                <h6 class="ps-1">Stadium</h6>
              </div>
              <h6>Referee Name</h6>
            </div>
          </div>

          <div class="col-2">
            <div class="bg-light rounded-4">
              <div class="row">
                <h6 class="text-center p-2">PSG</h6>
                <h6 class="text-center">VS</h6>
                <h6 class="text-center p-2">FCBM</h6>
              </div>
            </div>
          </div>

          <div class="col-5">
            <div class="row pe-4">
              <h6 class="text-center">Team Name</h6>
            </div>
             <div class="row pe-4">
              <h6 class="text-center">Team Name</h6>
            </div>
          </div>
        </div>





      </div>
    </div>
  </div>

  <div class="row m-3">
    <div class="row">
      <div class="col-6">
        <h3 class="text-start">Injured Players</h3>
      </div>
      <div class="col-6">
        <%= link_to "All players", team_players_path(@team), style: "float: right;" %>
      </div>

    </div>

    <div class="row d-flex justify-content-around mx-auto">
      <% @players.each do |player| %>
      <div class="col-3 d-flex">
        <div class="col-3">
          <p><%= cl_image_tag player.photo.key, width: 60 %></p>
        </div>
        <div class="col-9">
          <div class="row">
            <h5><%= player.first_name %> <%= player.last_name %></h5>
          </div>
          <div class="row">
            <h6><%= player.position %></h6>
          </div>
          <div class="row">
        <% if player.health == "Injured" %>
          <div class="health-status injured mt-0 mx-2">
            <%= player.health %>
          </div>
        <% else %>
          <div class="health-status limited mt-0 mx-2" >
            <%= player.health%>
          </div>
        <% end %>
          </div>
        </div>
      </div>
      <% end %>

      <%# <div class="col-3 d-flex">
        <div class="col-3">
          <p>photo</p>
        </div>
        <div class="col-9">
          <div class="row">
            <h5>Players Name</h5>
          </div>
          <div class="row">
            <h6>Position</h6>
          </div>
          <div class="row">
            <h6>Injured</h6>
          </div>
        </div>
      </div>

      <div class="col-3 d-flex">
        <div class="col-3">
          <p>photo</p>
        </div>

        <div class="col-9">
          <div class="row">
            <h5>Players Name</h5>
          </div>
          <div class="row">
            <h6>Position</h6>
          </div>
          <div class="row">
            <h6>Injured</h6>
          </div>
        </div>
      </div>

      <div class="col-3 d-flex">
        <div class="col-3">
          <p>photo</p>
        </div>

        <div class="col-9">
          <div class="row">
            <h5>Players Name</h5>
          </div>
          <div class="row">
            <h6>Position</h6>
          </div>
          <div class="row">
            <h6>Injured</h6>
          </div>
        </div>
      </div>

      <div class="col-3 d-flex">
        <div class="col-3">
          <p>photo</p>
        </div>

        <div class="col-9">
          <div class="row">
            <h5>Players Name</h5>
          </div>
          <div class="row">
            <h6>Position</h6>
          </div>
          <div class="row">
            <h6>Injured</h6>
          </div>
        </div>
      </div>
    </div> %>

  </div>

  <div class="row m-3 justify-content-between">
    <div class="col-6 bg-white rounded-4 max-width-40">
      <div class="row pt-3">
        <h3 class="text-center p-2">Costs</h3>

        <hr>
        <img src="https://res.cloudinary.com/dydsbw4wh/image/upload/v1701275178/costs_yi1y4v.png" style="padding-bottom: 8px; border-radius: 30px;">
      </div>
    </div>

    <div class="col-6 bg-white rounded-4 max-width-40">
      <div class="row pt-3">
        <h3 class="text-center p-2">Team Status</h3>

        <hr>
        <img src="https://res.cloudinary.com/dydsbw4wh/image/upload/v1701276346/team_status_ii6bfb.png" style="padding-bottom: 8px; border-radius: 30px;">
      </div>
    </div>
  </div>
