<div>
  <div class="row my-4 mx-1 justify-content-evenly">

    <%= render "notifications" %>

    <%= render "today" %>

    <%= render "games" %>

  </div>

  <%= render "injured", players: @players, team: @team %>

  <%= render "management" %>

  
</div>
