<div class="container h-100 d-flex align-items-center justify-content-center">
  <div class="form p-5 w-50 shadow mt-5 bg-white rounded-4">

  <h2 class="text-center text-primary">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", style: "background: white;" },
                  label_html: { class: "h5", style: "color: #2D7D9F;" } %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", style: "background: white;" },
                  label_html: { class: "h5", style: "color: #2D7D9F;" }%>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password", style: "background: white;" },
                  label_html: { class: "h5", style: "color: #2D7D9F;" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "custom-button-signup mt-3" %>
    </div>
  <% end %>

  <div class="mt-2">
    <%= render "devise/shared/links" %>
  </div>
  </div>
</div>
