<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="d-flex flex-column align-items-center justify-content-between pb-3">
        <div class="sidebar-header cool-side">
          <%= link_to team_path(@team) do %>
            <%= image_tag "logo2.png", class: "company-logo" %>
          <% end %>
        </div>
          <ul data-controller="click" class="h-50 d-flex flex-column justify-content-around align-items-center cool-side list-unstyled components">

            <li>
              <div class="d-flex justify-content-center align-items-center <%= controller_name == 'teams' && action_name == 'show' ? 'very-cool-side' : '' %>">
                <%= link_to team_path(@team) do %>
                  <i class="sidebar-button fa-solid fa-house" style="<%= controller_name == 'teams' && action_name == 'show' ? 'color: #2D7D9F' : 'color: #D9D9D9;' %>"></i>
                <% end %>
              </div>
            </li>

            <li>
              <div  class="d-flex justify-content-center align-items-center <%= controller_name == 'events' && action_name == 'index' ? 'very-cool-side' : '' %>">
                <%= link_to team_events_path(@team) do %>
                  <i class="sidebar-button fa-regular fa-calendar" style="<%= controller_name == 'events' && action_name == 'index' ? 'color: #2D7D9F' : 'color: #D9D9D9;' %>"></i>
                <% end %>
              </div>
            </li>


            <li>
              <div class="d-flex justify-content-center align-items-center <%= controller_name == 'teams' && action_name == 'staff' ? 'very-cool-side' : '' %>">
                <%= link_to staff_path(@team) do %>
                  <i class="sidebar-button fa-solid fa-people-group" style="<%= controller_name == 'teams' && action_name == 'staff' ? 'color: #2D7D9F' : 'color: #D9D9D9;' %>"></i>
                <% end %>
              </div>
            </li>

            <li>
              <div class="d-flex justify-content-center align-items-center <%= controller_name == 'teams' && action_name == 'management' ? 'very-cool-side' : '' %>">
                <%= link_to management_path(@team) do %>
                  <i class="sidebar-button fa-solid fa-bars-progress" style="<%= controller_name == 'teams' && action_name == 'management' ? 'color: #2D7D9F' : 'color: #D9D9D9;' %>"></i>
                <% end %>
              </div>
            </li>

            <li>
              <div class="d-flex justify-content-center align-items-center <%= controller_name == 'teams' && action_name == 'chat' ? 'very-cool-side' : '' %>">
                <%= link_to team_chatrooms_path(@team) do %>
                  <i class="sidebar-button fa-solid fa-comments" style="<%= controller_name == 'teams' && action_name == 'chat' ? 'color: #2D7D9F' : 'color: #D9D9D9;' %>"></i>
                <% end %>
              </div>
            </li>

          </ul>
        <div class="d-flex align-items-center justify-content-center cool-side">
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
            <i class="sidebar-button fa-solid fa-right-from-bracket fa-rotate-180" style="color: #D9D9D9;"></i>
          <% end %>
        </div>
    </nav>
  </div>
