<div class="d-flex justify-content-center">
  <div class="mt-2 first-row-dashboard col-4 bg-white rounded-4 w-75">
      <div class="m-2 position-relative">
        <%= link_to edit_team_event_path(@team) do %>
          <i class="fa-solid fa-2x fa-pen-to-square position-absolute top-0 end-0 " style="color: #d7dde3;"></i>
        <% end %>

        <%= link_to team_events_path do %>
          <i class="fas fa-2x fa-chevron-circle-left" style="color: #dddddd;"></i>
        <% end %>

          <div class="row justify-content-center p-2">
            <h3 class="text-center p-2"><%= @event.title %></h3>
            <hr>
          </div>
          <div class="d-flex justify-content-center">
            <div class="d-flex w-75 pt-3">
                  <div class="col-8 ps-4 mb-2">
                    <h5>Description:</h5>
                    <h6 class="my-2 ms-2"><%= @event.description %></h6>
                    <h5>Location:</h5>
                    <h6 class="my-2 ms-2"><%= @event.location %></h6>
                    <h5>Who's participating</h5>
                      <h6 class="my-2 ms-2">Players:</h6>
                        <div class="div-height ms-3">
                          <% @event.players.to_a.each do |player| %>
                            <% if player.health === "Limited" %>
                              <div class="names limited mt-0">
                                <%= player.full_name %>
                              </div>
                            <% elsif player.health === "Injured" %>
                              <div class="names injured mt-0">
                                <%= player.first_name %>
                              </div>
                            <% else %>
                              <div class="names available mt-0 ">
                                <%= player.full_name %>
                              </div>
                            <% end %>
                          <% end %>
                        </div>
                        <h6 class="my-2 ms-2">Employees:</h6>
                          <div class="div-height ms-3">
                            <% @event.employees.to_a.each do |employee| %>
                              <div class="employees ms-0 mt-0">
                                <%= employee.first_name%>
                              </div>
                            <% end %>
                          </div>
                    </div>
                  <div class="col-4 pe-4 text-end mb-2">
                    <h5>Starts at:</h5>
                      <h6><%= @event.start_date.to_date.strftime("%-d %b %Y") %></h6>
                      <h6><%= @event.start_date.strftime("%H:%M") %>H</h6>
                    <h5>Ends at:</h5>
                      <h6><%= @event.start_date.to_date.strftime("%-d %b %Y") %></h6>
                      <h6><%= @event.end_date.strftime("%H:%M") %>H</h6>
                  </div>
            </div>
        </div>
      </div>
  </div>
</div>
