<div class="all" data-controller="select-all">


  <%= simple_form_for [team, event] do |f|  %>
    <%= f.input :title,
                label: false,
                input_html: { autocomplete: "email", style: "background: white;", placeholder: "Title" } %>
    <%= f.input :description,
                label: false,
                input_html: { autocomplete: "email", style: "background: white;", placeholder: "Description" } %>
    <%= f.input :location,
                label: false,
                input_html: { autocomplete: "email", style: "background: white;", placeholder: "Location" } %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.association :players, as: :check_boxes, label_method: :full_name, value_method: :id, input_html: { multiple: true }, input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item' %>
    <div class="select-all" data-select-all-target="input" data-action="click->select-all#selection">
      Select All
    </div>
    <div>
      <%= f.button :submit, class: 'custom-button btn btn-primary' %>
    </div>
  <% end %>

</div>
