<div class="all" data-controller="select-all">


  <%= simple_form_for [team, event] do |f|  %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.association :players, as: :check_boxes, label_method: :full_name, value_method: :id, input_html: { multiple: true }, input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item' %>
    <div class="select-all" data-select-all-target="input" data-action="click->select-all#selection">
      Select All
    </div>
    <div>
      <%= f.button :submit %>
    </div>
  <% end %>

</div>
