<div class="all" data-controller="select-all">


  <%= simple_form_for [team, event] do |f|  %>
    <%= f.input :title,
                label: false,
                input_html: { autocomplete: "email", style: "background: white;", placeholder: "Title" } %>
    <%= f.input :description,
                label: false,
                input_html: { autocomplete: "email", style: "background: white;", placeholder: "Description" } %>
    <%= f.input :location,
                label: false,
                input_html: { autocomplete: "email", style: "background: white;", placeholder: "Location" } %>
    <%= f.input :event_type,
                label: false,
                input_html: { autocomplete: "email", style: "background: white;", placeholder: "Event Type" }%>
    <%= f.input :start_date,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
    <%= f.association :players,
                      collection: Player.where(health: "Available"),
                      as: :check_boxes,
                      label_method: :full_name,
                      value_method: :id,
                      input_html: { multiple: true },
                      input_html: { class: "tag-selector-available" },
                      item_wrapper_class: 'tag-item' %>
    <%= f.association :players,
                      legend_tag: false,
                      collection: Player.where(health: "Limited"),
                      as: :check_boxes,
                      label_method: :full_name,
                      value_method: :id,
                      input_html: { multiple: true },
                      input_html: { class: "tag-selector-limited" },
                      item_wrapper_class: 'tag-item' %>
    <%= f.association :players,
                      legend_tag: false,
                      collection: Player.where(health: "Injured"),
                      as: :check_boxes,
                      label_method: :full_name,
                      value_method: :id,
                      input_html: { multiple: true },
                      input_html: { class: "tag-selector-injured" },
                      item_wrapper_class: 'tag-item' %>
    <div class="select-all" data-select-all-target="input" data-action="click->select-all#selection">
      Select All Players
    </div>
    <div>
      <%= f.button :submit, class: 'custom-button btn btn-primary' %>
    </div>
  <% end %>

</div>
