<div class="col-12 col-md-4">
  <%= link_to team_player_path(@team, player) do %>
    <div class="player-card d-flex rounded-4">
      <%= cl_image_tag player.photo.key, width: 100 %>
      <div class="staff-text">
        <h5><%= player.first_name %> <%= player.last_name %></h5>
        <h6><%= player.position %></h6>
        <% if player.health == "Available" %>
          <div class="health-status available">
            <%= player.health%>
          </div>
        <% elsif player.health == "Limited" %>
          <div class="health-status limited" >
            <%= player.health%>
          </div>
        <% else %>
          <div class="health-status injured">
            <%= player.health%>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
