<h5><%= player.first_name %> <%= player.last_name %></h5>
<p>Position:  <%= player.position %></p>
<p>Status:  <%= player.health %></p>
<p><p>Availability:  <%= player.availability %></p>
<p>Date of Birth:  <%= player.birthdate.strftime("%d %B %Y") %></p>
