<div class="ms-5 d-flex justify-content-center">
  <div class="player-profile-div col-7 bg-white rounded-4 m-5">
    <div class="row pt-2 ps-2 pe-2">
      <div class="col-6">
        <%= link_to staff_path do %>
          <i class="fas fa-2x fa-chevron-circle-left" style="color: #dddddd;"></i>
        <% end %>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <%= link_to edit_team_player_path(@team, @player) do %>
          <i class="fa-solid fa-2x fa-pen-to-square" style="color: #dddddd;"></i>
        <% end %>
      </div>
    </div>

    <div class="row pt-1 px-3">
      <div class="col-6">
        <h2 class="fw-light ps-4 pb-1"><%= @player.first_name %> <%= @player.last_name %></h2>
        <h6 class="ps-4 pb-1"><%= @player.position %></h6>
      </div>

      <div class="col-6 justify-content-start pt-1">
        <% if @player.health == "Available" %>
          <div class="health-status available mt-2 ms-2">
            <%= @player.health %>
          </div>
        <% elsif @player.health == "Limited" %>
          <div class="health-status limited mt-2 ms-2" >
            <%= @player.health %>
          </div>
        <% else %>
          <div class="health-status injured mt-2 ms-2">
            <%= @player.health %>
          </div>
        <% end %>
      </div>
    </div>


    <div class="ps-4 pe-4">
      <hr>

      <%# player info %>
      <div class="row px-3">
        <div class="col-6">
          <h4 class="mb-3">Information</h4>
          <div class="d-flex">
            <i class="fa-solid fa-cake-candles me-3" style="color: #d9d9d9; font-size: 1.8em;"></i>
            <p><%= @player.birthdate.strftime("%d %B %Y") %></p>
          </div>

          <div class="d-flex">
            <i class="fa-solid fa-futbol me-3"  style="color: #d9d9d9; font-size: 1.8em;"></i>
            <p><%= @player.preferred_side %></p>
          </div>

          <% if @player.note.present? %>
            <div class="d-flex">
              <i class="fa-solid fa-note-sticky me-3" style="color: #d9d9d9; font-size: 1.8em;"></i>
              <p><%= @player.note %></p>
            </div>
          <% end %>
        </div>

        <div class="col-6">
          <h4 class="mb-3">Health Information</h4>

          <div class="d-flex">
            <i class="sidebar-button  fa-solid fa-utensils me-3" style="color: #d9d9d9; font-size: 1.8em;"></i>
            <p><%= @player.nutrition_restrictions %></p>
          </div>

          <% if @player.injury_notes.present? %>
            <div class="d-flex">
              <i class="sidebar-button fa-solid fa-notes-medical me-3" style="color: #d9d9d9; font-size: 1.8em;"></i>
              <p><%= @player.injury_notes %></p>
            </div>
          <% end %>

          <% if @player.expected_return_date.present? %>
            <div class="d-flex">
              <i class="fa-solid fa-person-walking-arrow-loop-left me-3" style="color: #d9d9d9; font-size: 1.8em;"></i>
              <p><%= @player.expected_return_date.strftime("%d %B %Y") %></p>
            </div>
          <% end %>

        </div>
      </div>

      <hr>
      <%# player events%>
      <div class="row flex-column px-3">
        <h4 class="mb-3">Todays Events</h4>
        <% @events.each do |event| %>
          <% if event.start_date.to_date == Date.today() %>
            <div class="col-6 mb-2 pt-1 px-3">
              <div class="d-flex">
                <div class="d-flex align-items-center me-2">
                  <h6><%= event.start_date.strftime("%H:%M")%></h6>
                </div>
                <h6><%= event.title %></h6>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-5 d-flex justify-content-start ps-5 align-items-center" style="height: 600px;">
    <%# player photo %>
    <%= cl_image_tag @player.photo.key, class: "img-fluid player-image" %>
  </div>
</div>
